.ad-grid {
    display: grid;
    column-gap: 12px;
    row-gap: 20px;
}

.ad-grid__full {
    grid-template-columns: repeat(2, 1fr);
}

.ad-grid__short {
    grid-template-columns: 1fr;
}

.ad-grid-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.ad-grid-header .ads-count {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 8px;
    color: var(--gray-500-color);
}

.ad-grid-header .sort {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    gap: 12px;
}

.ad-grid-header .sort .select {
    width: 200px;
}

.ad-grid-header .sort option {
    line-height: 150px;
}

@media (min-width: 576px) {
    .ad-grid {
        column-gap: 18px;
        row-gap: 25px;
    }

    .ad-grid__full {
        grid-template-columns: repeat(3, 1fr);
    }
    .ad-grid__short {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .ad-grid {
        column-gap: 24px;
        row-gap: 32px;
    }
    .ad-grid-header .sort {
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width: 992px) {
    .ad-grid__full {
        grid-template-columns: repeat(4, 1fr);
    }
    .ad-grid__short {
        grid-template-columns: repeat(3, 1fr);
    }
    .ad-grid-header {
        flex-direction: row;
        align-items: center;
    }
    .ad-grid-header .ads-count {
        text-align: left;
    }
}
