@font-face {
    font-family: 'Inter-sm-400';
    font-display: swap;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Inter_18pt-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-sm-500';
    font-display: swap;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/Inter_18pt-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-sm-600';
    font-display: swap;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/Inter_18pt-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-med-600';
    font-display: swap;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/Inter_24pt-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-big-700';
    font-display: swap;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/Inter_28pt-Bold.ttf') format('truetype');
}
